.footer-section {
	background:  rgba(25, 28, 31, 0.8) ;
	padding-top: 73px;
}

.footer-info {
  color: white;
}

.footer-widget {
	margin-bottom: 40px;
}

.footer-h1 {
  color:#fdbb28;
  font-family: "Raleway", sans-serif;
}

.footer-widget .fw-title {
	font-size: 18px;
	font-weight: 700;
	color: #fdbb28;
	padding-top: 42px;
	margin-bottom: 44px;
}

.footer-widget ul li {
	display: block;
}

.footer-widget ul li a {
	display: inline-block;
	color: white;
	font-size: 16px;
	margin-bottom: 10px;
}

.social-links-warp {
	border-top: 1px solid #363636;
	padding: 45px 0;
}

.social-links a {
	margin-right: 104px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
